<!DOCTYPE html>
<html>
  <head>
    <title>Traffic Light &#x1f6a6; &#x1f6a6; &#x1f6a6;</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="top-bar"></div>

    <div id="container">
      <ul id="switch">
        <li><a data-state="off" data-color="red"></a></li>
        <li><a data-state="off" data-color="yellow"></a></li>
        <li><a data-state="off" data-color="green"></a></li>
      </ul>
      <p id="update-time"></p>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/javascripts/traffic-light.js"></script>
    <script src="/javascripts/favicon.js"></script>
    <script src="/javascripts/switch.js"></script>
    <script src="/javascripts/top-bar.js"></script>
    <script src="/javascripts/update-time.js"></script>
  </body>
</html>
